.intro {
  background: #043137 url(../img/bg.png) center no-repeat / cover;
  padding: 60px 0 40px;
  min-height: 380px;
  text-align: center;
  position: relative;
  color: #fff;

  &__title {
    font-size: 30px;
    margin-bottom: 18px;
  }

  &__selects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__select {
    width: 48%;
  }

  &__input {
    font-family: inherit;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-bottom: 30px;
    height: 60px;
    border-radius: 50px;
    padding: 0 30px;
    color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.2);

    &::placeholder {
      color: inherit;
      font-size: 18px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
  }

  &__search {
    padding: 20px 30px;
    background-color: $red-color;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    border-bottom: 2px solid #c1412e;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      background: darken($red-color, 10);
      transition: background-color .3s;
    }
  }
}