.select {
  margin: auto;
  position: relative;

  &__header {
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    padding: 0 30px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.1);

    &--search {
      padding: 0 18px;
    }
  }

  &__current {
    font-size: 18px;
    line-height: 32px;
    color: white;

    &--search {
      color: $red-color;
      font-size: 14px;
      padding: 2px 20px 2px 0 ;

    }
  }

  &__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-left: auto;
    color: white;

    &--search {
      color: $red-color
    }
  }

  &__body {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background: rgba(255, 255, 255, 0.1);

    &--search {
      z-index: 1;
    }
  }

  &__item {
    width: 80%;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &--search {
      font-size: 14px;
      // color: $red-color;
    }

    &:last-child {
      border-bottom: none;
    }

  }
}

.select.is-active .select__body {
  display: block;

  &--search {
    // background: rgba(241, 80, 80, 0.9);
  }
}

.select.is-active .select__header {
  border-radius: 25px 25px 0 0;
  border-bottom: none;
 

  &--search {
    background-color: white;
  }
}