// Responsive
$tablet-max-width: 900px;
$mobileL-max-width: 425px;
$mobileS-max-width: 320px;

// Colors
$main-color: #566375; // black
$section-color: #FCFCFD;
$background-color: #f3f1f2;

$light-color: #fff; // white
$green-color: #1baf5d; // green
$orange-color: #f19e1f; // orange
$purple-color: #88499c; // purple
$red-color: #e94e38; // red
$grey-color: #96a6a7; // grey
$search-color: #e2dee0; //grey search

$main-weight: 500;
$bold-weight: 700;
$main-size: 14px;
$main-height: 1.7;

// Sizes
$photo-width: 1150px;
$photo-height: 640px;