@import "./reser";
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  @include main-font;
  font-size: $main-size;
  font-weight: $main-weight;
  line-height: $main-height;
  color: $main-color;
}

.copyright {
  font-weight: 400;
}

@import "section";
@import "container";
@import "icon";
@import "navigation";
@import "header";
@import "intro";
@import "search";
@import "filter";
@import "entertainment";
@import "card";
@import "offer";
// @import "testemonials";
// @import "person";
// @import "gta";
// @import "contactus";
@import "footer";